<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome(Admin)!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('bundles/other/bootstrap.css') }}" rel="stylesheet"/>
        <link href="{{ asset('bundles/other/style.css') }}" rel="stylesheet"/>
        <script src="{{ asset('bundles/other/jquery.js') }}"></script>
        <script src="{{ asset('bundles/other/bootstrap.js') }}"></script>
    </head>
    <body>
    	<div class="header">
    		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="collapse navbar-collapse">
			    		<div class="login_form">
			    			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						    <p>Username: {{ app.user.username }} <span><a href="/logout">Logout</a></span></p>
						{% else %}

						{% if error %}
						    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						<form action="{{ path('login') }}" method="post">
	
							<input type="hidden" name="_target_path" value="/account" />
		
						    <label for="username">Username:</label>
						    <input type="text" id="username" name="_username" value="{{ last_username }}" />

						    <label for="password">Password:</label>
						    <input type="password" id="password" name="_password" />

						    <button type="submit">login</button>
						</form>

						{% endif %}
			    		</div>
			    	</div>
			</div>
		</div>
		
    		<div class="row head_block">
    			<h1>Welcome!</h1>
    		</div>
    	</div>
    	
    	<div class="main row">
    		<div class="col-md-2">
    		</div>
    		<div class="col-md-8">
        		{% block body %}{% endblock %}
        	</div>
    		<div class="col-md-2">
    		</div>
        </div>
        <div class="footer">
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
